.about {
  padding: 4rem 0;
  background-color: var(--mainGrey);
}

p {
  font-size: larger;
}

.center {
  width: 80vw;
  margin: 0 auto;
}

.about {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(200, 200, 200, 0.1) 0%,
    rgba(200, 200, 200, 0.6) 80%,
    rgba(200, 200, 200, 1) 100%
  );
}
.about-img {
  margin: 3rem auto;
  width: 70%;
}
.about-info {
  margin-top: 3rem;
}
.about-img {
  position: relative;
}

.about-img,
.about-info {
  margin: 1rem;
  width: 500px;
}

.img-container {
  width: 500px;
}

.about-img img {
  width: 100%;
  display: block;
  box-shadow: var(--lightShadow);
}
.about-img div {
  box-shadow: var(--lightShadow);
}
h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img,
  .about-info {
    margin: 1rem;
    width: 500px;
  }

  .img-container {
    width: 500px;
  }
  .about-info p {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .img-container::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    width: 95vw;
    max-width: 1170px;
  }
}
