.books {
	margin: 4rem 0;
}

.center {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 2rem;
}

.books article {
	width: 250px;
}
.btn {
	background: var(--primaryColor);
	color: var(--mainWhite);
	border: 2px solid var(--primaryColor);
	text-transform: lowercase;
	letter-spacing: var(--mainSpacing);
	color: var(--mainWhite);
	border: 2px solid var(--mainWhite);
	border-radius: 4px;
	padding: 0.9rem 1.6rem;
	transition: var(--mainTransition);
	cursor: pointer;
	display: flex;
	width: 40%;
	justify-content: center;
	margin: 1rem auto;
}

.btn:hover {
	background: transparent;
	color: var(--primaryColor);
	border: 2px solid var(--primaryColor);
}
