.template {
  padding: 4rem 0;
}

.center {
  width: 80vw;
  margin: 0 auto;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
.image {
  box-shadow: var(--lightShadow);
}
.template h2 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.info p {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  /* text-transform: capitalize; */
}
.icon {
  color: var(--primaryColor);
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.desc {
  width: 80vw;
  margin: 0 auto;
}

.desc p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  color: var(--mainBlack);
  margin: 40px 0;
}

.desc blockquote {
  margin: 0 0 60px 0;
}

.desc blockquote:before {
  content: url('../images/quote.svg');
  display: inline-block;
  width: 50px;
  transform: translateY(30px);
}

.desc blockquote p {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
}

.desc img {
  border-radius: 5px;
  max-width: 80vw;
  box-shadow: 0px 10px 10px -2px rgba(10, 10, 10, 0.15);
}

.template h4 {
  text-transform: capitalize;
}
.template h2 {
  margin: 2rem 0;
}
.journey {
  margin: 3rem 0;
}
@media screen and (min-width: 992px) {
  .journey,
  .desc {
    width: 80vw;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    max-width: 1170vw;
  }
  .images {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 50px;
  }
}
